html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.page {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.page-directorytree {
    grid-column: 1;
    height: 100%;
    overflow-x: scroll;
    overflow-y: scroll;
}

.page-viewer {
    grid-column: 2;
    height: 100%;
    overflow-x: auto;
    overflow-y: auto;
}

.page-viewerimg {
    width: 100%;
    height: 99%;
    object-fit: contain;
}
